<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--log 日志记录-->
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <!--SocketEngine-->
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>

  <!--服务信息描述，在window服务模式下的名称标识-->
  <appSettings>
    <add key="ServiceName" value="MesServer"/>
    <add key="ServiceDescription" value="MES与EQC 通讯处理程序"/>

    <!--上瓶设备ID-->
    <add key="SpDeviceID" value="L01.OP010"/>
    <!--个性化设备ID-->
    <add key="GXDeviceID" value="L01.OP020"/>
    <!--彩盒设备ID-->
    <add key="CHDeviceID" value="L01.OP030"/>
    <!--包装设备ID-->
    <add key="BZDeviceID" value="L01.OP040"/>

  </appSettings>

  <!--SuperSocket服务配置信息 serverType是项目的服务如我自定义的myserver-->
  <!--name: 实例名称 命名空间
      serverType: 实例运行的AppServer类型
      ip: 侦听ip
      port: 侦听端口-->
  <superSocket   xmlns="http://schema.supersocket.net/supersocket"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
    <servers  >
      <!--textEncoding 编码方式"gb2312","utf-8" 默认是acii-->
      <server   name="MES.SocketService" textEncoding="gb2312" serverType="MES.SocketService.MesServer,MES.SocketService" ip="Any" port="6543" maxConnectionNumber="1000">
      </server>
    </servers>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>